#encoding UTF-8
## +-------------------------------------------------------------------------+
## |    telemetry.html.tmpl            Template file for "telemetry" page    |
## +-------------------------------------------------------------------------+

## +-------------------------------------------------------------------------+
## | Template for display card of telemetry values                           |
## +-------------------------------------------------------------------------+


#def formatBatteryValue($value)
#if $value is None
    –
#else
    #try
        ${"%.0f" % float(str($value).replace(",", "."))}
    #except
        $value
    #end try
#end if
#end def

#def valuesCard($name)
    #if $getVar('day.' + name + '.has_data') and ($getVar('day.' + name + '.max.raw') > 0 or $Extras.Telemetry.allow_zero_values == "yes")
        <div class="col-12 col-lg-6 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="h5-responsive $Extras.color-text">
                        $getVar('obs.label.' + name)
                    </h5>

                    <div class="row">
                        <div class="col-12 text-center">
                            #set current_value = $getVar('current.' + name)
                            #set display_value = $mapBatteryValue($name, $current_value)

                            <h4 class="h2-responsive">
                                $formatBatteryValue($display_value)%
                            </h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    #end if
#end def

## +-------------------------------------------------------------------------+
## | Check if a battery field is enabled                                     |
## +-------------------------------------------------------------------------+
#def isBatteryFieldEnabled($name)
    #try
        #set enabled = $getVar('Extras.Telemetry.BatteryFields.' + $name + '.enabled', 'no')
        #if $enabled == 'yes'
            #return True
        #else
            #return False
        #end if
    #except
        #return False
    #end try
#end def

## +-------------------------------------------------------------------------+
## | Helper function to map battery values                                   |
## +-------------------------------------------------------------------------+
#def mapBatteryValue($name, $value)
    #if not $isBatteryFieldEnabled($name)
        #return $value
    #end if

    #try
        #set raw_val = str($value).strip()
        #set key = "0"
        #if raw_val.replace(".", "").replace("-", "").isdigit()
            #set key = str(int(float(raw_val) + 0.000001))
        #end if

        #set mapped = $getVar('Extras.Telemetry.BatteryFields.' + $name + '.' + $key, None)
        #if $mapped is not None
            #return $mapped
        #else
            #return $value
        #end if
    #except
        #return $value
    #end try
#end def

## +-------------------------------------------------------------------------+
## | Helper function to get chart value for battery fields                   |
## | Returns the numeric chart position based on mapping order               |
## +-------------------------------------------------------------------------+
#def getBatteryChartValue($name, $raw_value)
    #if not $isBatteryFieldEnabled($name)
        #return $raw_value
    #end if

    #try
        #set key = str(int(float($raw_value) + 0.000001))

        ## Check if flip is enabled for this specific field
        #set flip = False
        #try
            #if $getVar('Extras.Telemetry.BatteryFields.' + $name + '.flip_values', 'no') == 'yes'
                #set flip = True
            #end if
        #except
            #pass
        #end try

        ## Get chart position based on key
        #set chart_pos = $getVar('Extras.Telemetry.BatteryFields.' + $name + '.chart_position_' + $key, None)
        #if $chart_pos is not None
            #if $flip
                ## Invert the position if flip is enabled
                #set max_pos = int($getVar('Extras.Telemetry.BatteryFields.' + $name + '.max_chart_position', '1'))
                #set chart_pos = str($max_pos - int($chart_pos))
            #end if
            #return $chart_pos
        #else
            ## Fallback: use the key itself as position
            #return $key
        #end if
    #except
        #return $raw_value
    #end try
#end def

## +-------------------------------------------------------------------------+
## | The main page layout                                                    |
## +-------------------------------------------------------------------------+

<!DOCTYPE html>
<html lang="$lang">
    <head>
        <title>$gettext("telemetry") | $station.location</title>
        #include "head.inc"
    </head>
    <body class="${Extras.Appearance.mode}-theme main-bg" ontouchstart="">

        #attr $active_nav = ''
        #include "header.inc"

        <main>
            <div class="container">
                <div class="row my-4 align-content-start">

                    <div class="col-12 mb-4 text-center">
                        <h2 class="h2-responsive text-dark">$gettext("telemetry")</h2>
                    </div>

                    #for $x in $Extras.Appearance.telemetry_order
                        $valuesCard($x)
                    #end for

                </div>
            </div>
        </main>

        #include "footer.inc"
        #include "js.inc"

    </body>
</html>
